<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/login.css" rel="stylesheet">
  <title>Login</title>
</head>

<body>
  <div class="blob blob1" data-depth="20"></div>
  <div class="blob blob2" data-depth="40"></div>
  <div class="blob blob3" data-depth="60"></div>

  <div class="wrapper">
    <div class="card" id="card">
      <div class="face front">
        <h2>Login</h2>
        <form>
          <input type="email" id="email" name="email" placeholder="Email"/>
          <input type="password" id="password" name="password" placeholder="Password"/>
          <button type="submit">Login</button>
        </form>

        <p>
          Not registered?
          <span onclick="window.location='/register'">Register here</span>
        </p>
      </div>

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/login.js">

  </script>
</body>

</html>